body {
    @media (prefers-color-scheme: dark) {
        background-color: rgb(24, 24, 24);
        color: rgb(194, 194, 194);
    }
}

a {
    @media (prefers-color-scheme: dark) {
        color: rgb(194, 194, 194);
    }
}